*{
    margin:0px;
    color: black;
    font-family: Arial, sans-serif; 
}
.App-header {
    background-color: #112739;
    padding: 10px;
    text-align: center;
}
.App-header > .logo {
    font-weight: bold;
    font-size: 2rem;
    color: #e4dbff;
}
.App-Navigation {
    display: flex;
    justify-content:center;
    margin: 10px;
    font-size: 1.2rem;
}
.App-Navigation > .nav-link {
    text-decoration: none;
    color: #e4dbff;
    margin: 0 10px;
    cursor: pointer;
}
.App-Navigation > span {
    color: #cce4f8;
}
.App-Navigation > .nav-link:hover {
    color:white;
    scale: 1.15;
    transition: all 0.3s ease;
}
table{
    margin:0px;
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: #cce4f8;
    color: #403a54;
    font-weight: bold;
    border-radius: 7px;
    padding:5px;
    text-align: center;
    height: 50px;
}
tbody{
    background-color: #f0f0f0;
    color: #403a54;
    border-radius: 7px;
    border-top: none;

}
td, th {
    padding: 10px;
    border: 0.5px solid #ffffff;
}
td{
    text-align: start;
}

.photo-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}